# Sentiment Analysis in Account Management
### Problem
Managers find it very time consuming  to go through each of every accounts to read notes and find for potential problem
### Solution
With Sentiment Analysis, computers can calculate notes score and print the list of potential problem accounts with negative sore

In this test, we will focus on one tool in the NLP toolkit: sentiment analysis. Sentiment analysis seeks to quantify the emotional intensity of words and phrases within a text. Some sentiment analysis tools can also factor in the emotional weight of other features of language such as punctuation or emojis.

#### Import required libraries

In [55]:
import pandas as pd
import nltk
nltk.download('vader_lexicon')
nltk.download('punkt')

# first, we import the relevant modules from the NLTK library
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# next, we initialize VADER so we can use it within our Python script
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/andy/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to /Users/andy/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

#### Load data

In [8]:
df=pd.read_csv('ar.csv')

#### Print first 10 rows

In [9]:
df.head(10)

  Acc Number                         Last Annual Review Details
0  640100147  start this business 20 years ago. both working...
1  640100347  they have been with BC for long so understand ...
2  640100461  The items I would like to cover in the meeting...
3  640101354  next auction is in march next year so no rush ...
4  640101792  just finished uni, will gradually take over Gr...
5  640102338  discussed potential openday for Bartercard cus...
6  640103752  Cliff will hand over to the new owner 1 Oct. H...
7  640103957  he downsized his business so not looking to ac...
8  640104616  he is going to touch based with Tony soon and ...
9  640105999  Met both Conrad and Alan at the premises in Ba...

#### Check for datatypes

In [19]:
df.dtypes

Acc Number                    object
Last Annual Review Details    object
dtype: object

#### Convert to string

In [47]:
df['Last Annual Review Details'] = df['Last Annual Review Details'].astype(str)

#### Add new columns

In [48]:
df['score']=''
df['neg']=''
df['neu']=''
df['pos']=''

#### Loop through dataframe and calculate score

In [49]:
for index, row in df.iterrows(): 
    #print(row['Last Annual Review Details']) 
    msg=row['Last Annual Review Details']
    
    row['score'] = sid.polarity_scores(msg)
    row['neg'] = row['score']['neg']
    row['pos'] = row['score']['pos']
    row['neu'] = row['score']['neu']

#### Check data type

In [50]:
df.dtypes

Acc Number                    object
Last Annual Review Details    object
score                         object
neg                           object
neu                           object
pos                           object
dtype: object

#### Convert to float

In [51]:
df['neg']=df['neg'].astype('float')
df['pos']=df['pos'].astype('float')
df['neu']=df['neu'].astype('float')

#### Check data type

In [52]:
df.dtypes

Acc Number                     object
Last Annual Review Details     object
score                          object
neg                           float64
neu                           float64
pos                           float64
dtype: object

### Print all accounts with negative score >0

In [54]:
df[df['neg']>0]

,Acc Number,Last Annual Review Details,score,neg,neu,pos
3,640101354,next auction is in march next year so no rush ...,"{'neg': 0.223, 'neu': 0.777, 'pos': 0.0, 'comp...",0.223,0.777,0.000
7,640103957,he downsized his business so not looking to ac...,"{'neg': 0.22, 'neu': 0.78, 'pos': 0.0, 'compou...",0.220,0.780,0.000
10,641006894,Not keen to promote. Happy to take a group boo...,"{'neg': 0.307, 'neu': 0.429, 'pos': 0.264, 'co...",0.307,0.429,0.264
15,640110838,couldn't make it on our trade. Been struggling...,"{'neg': 0.259, 'neu': 0.741, 'pos': 0.0, 'comp...",0.259,0.741,0.000
26,642326105,"Doesn't want to promote, Can't take any BC now...","{'neg': 0.299, 'neu': 0.701, 'pos': 0.0, 'comp...",0.299,0.701,0.000
31,642331149,"move office to Beresford, downside a bit. Sean...","{'neg': 0.222, 'neu': 0.778, 'pos': 0.0, 'comp...",0.222,0.778,0.000
36,642338857,"business is ok, don't want to promote on BC fo...","{'neg': 0.379, 'neu': 0.473, 'pos': 0.149, 'co...",0.379,0.473,0.149
40,641142886,Business is doing good. Not looking to promote...,"{'neg': 0.181, 'neu': 0.579, 'pos': 0.24, 'com...",0.181,0.579,0.240
41,642343239,Business is good. But he isn't interested in r...,"{'neg': 0.186, 'neu': 0.576, 'pos': 0.239, 'co...",0.186,0.576,0.239

#### With thousands of accounts, regional manager will not have time to go through every account note to spot for early sign of potential problem. But with sentiment analaysis, managers can read quickly and spot problem account and take early action to prevent potential closure or reduce in revenue